{% extends "layout.html.twig" %}
{% block container %}
    <ul>

        <h1> <a href="{{path('links')}}" id ="refresh" title="Par défaut"> <span class="glyphicon glyphicon-refresh"></span>  </a> </h1>


        </ul>
    <center>
        <table id ="tableLinkTag">

            <tr>
                <th> <a href="{{path('order_link_alph_desc')}}" title ="De Z à A "id="nomLink"> Nom du lien   </th>
                <th> Description </th>
                <th> Tag(s) </th>
                <th><a href="{{path('order_date_desc')}}" title ="Du + récent au + vieux "id ="dateLink"> Date (Y-M-D)</a> </th>

                {% for news_link in links %}
                </tr>
                <tr>
                    <td id="link"> <a href="{{news_link.link}}" target="_blank"> {{news_link.link}} </a> </td>
                    <td> {{ news_link.description}}

                    <td>
                        {% for tag in news_link.tags %}
                            {{tag.nom }}
                        {%endfor %}
                    </td>

                    <td> {{news_link.date|date('Y-m-d')}} </td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td> <h3><a href="{{ path('updates',{'id': news_link.id}) }}" onclick="return(confirm('Voulez vous modifiez ?'));" > <span class="glyphicon glyphicon-upload"></span>  </a> </h3> </td>
                        <td> <h3> <a href="{{ path('deletes',{'id': news_link.id}) }}" onclick="return(confirm('Etes-vous sûr de vouloir supprimer cette entrée ?'));"> <span class="glyphicon glyphicon-erase"></span> </a> </h3> </td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>

    </center>
{% endblock %}
